/*
 *  footer settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)


.flatmir-footer {
  color: white;
  background-color: black;
  border: none;
  justify-content: center;
  .nav-link {
    padding: 1rem 2rem 0rem 2rem;
  }
}

.internal_links {
  border-top: 1px solid white;
}

.internal_links {
  &.navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
}

.logo-section {
  margin-bottom: 1rem;
}

.sbb_logo, .dfg_logo {
  padding: 1rem 2rem 0rem 2rem;
  max-height: 42px;
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
