// **************************************************
//  Variables
// **************************************************

// --------------------------------------------------
//  modifies bootstrap/bootswatch settings
// --------------------------------------------------
//  You can't use bootstrap variables here,
//  they are unknown yet.
//  But if you set them here, you will overwrite
//  the bootstrap defaults! in this way

// --------------------------------------------------
//  project settings
// --------------------------------------------------

// provided colors from designer
$blue4:  rgb(38,65,105);
$blue3:  rgb(71,105,150);
$blue2:  rgb(73,128,168);
$blue1:  rgb(98,152,181);
$red4:   rgb(163,68,32);
$red3:   rgb(183,106,39);
$red2:   rgb(204,145,45);
$red1:   rgb(226,178,41);
$green4: rgb(81,93,49);
$green3: rgb(111,127,57);
$green2: rgb(148,157,58);
$green1: rgb(170,181,56);


// --------------------------------------------------
//  overwrite bootstrap
// --------------------------------------------------

$primary: $blue3;

$resd: rgb(26, 105, 149);